.footer {
    height: 80px;
    width: 100%;
    background-color:#f9ffff;
    color:#0f2020;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;  
}

.footer-top {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
}

.footer-top span {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.footer-bottom span {
    font-size: 12px;
}

@media all and (max-width:700px) {
    .footer {
        gap: 5px
    }

}