@import url('https://fonts.googleapis.com/css?family=Laila&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


:root{
    --clr-black: #000;
    --clr-wht: #fff;
    --clr-primary: #0f2020;
    --font-primary: "laila";
    --font-secondary: "lato";
    --font-title: 36px;
    --font-subtitle: 26px;
    --font-regular: 12px;
    --font-medium: 18px;
    --font-heading: 900;
    --font-heading1: 700;
    --font-heading2: 600;
    --font-normal: 400;
}